<div class="header-1 ff-section">
	<div class="header-holder">
		<div class="logo-holder">
			<div class="vcenter-wrapper">
				<div class="vcenter">
					<div class="logo-wrapper">
						<h1>
							<a href="{{@blog.url}}" rel="home" class="logo">
								<span class="logo__inner background-check">
									{{#if @blog.logo}}
										<img
												class="logo-desktop logo-light"
												src="/content/images/2015/12/logo-svg-white.svg"
												alt="{{@blog.title}}"
												width="250"
												/>
										<img
												class="logo-desktop logo-dark"
												src="/content/images/2015/12/logo-svg-black.svg"
												alt="{{@blog.title}}"
												width="250"
												/>
										<img
												class="logo-mobile"
												src="/content/images/2015/12/logo-svg-black.svg"
												alt="{{@blog.title}}"
												width="100"
												/>
									{{else}}
										<img
												class="logo-desktop logo-light"
												src="/content/images/2015/12/logo-svg-white.svg"
												alt="{{@blog.title}}"
												width="250"
												/>
										<img
												class="logo-desktop logo-dark"
												src="/content/images/2015/12/logo-svg-black.svg"
												alt="{{@blog.title}}"
												width="250"
												/>
										<img
												class="logo-mobile"
												src="/content/images/2015/12/logo-svg-black.svg"
												alt="{{@blog.title}}"
												width="100"
												/>
									{{/if}}
								</span>
							</a>
						</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="menu-holder">
			<div class="vcenter-wrapper">
				<div class="vcenter">
					<a href="" class="menu-button clearfix">
						<span class="menu-button__inner clearfix background-check">
							<span class="menu-button__lines">
								<span class="menu-button__line-1"></span>
								<span class="menu-button__line-2"></span>
								<span class="menu-button__line-3"></span>
							</span>
							<span class="menu-button__label">
								<span class="menu-button__label__text-closed">
									Menu
								</span>
								<span class="menu-button__label__text-opened">
									Close
								</span>
							</span>
						</span>
					</a>
				</div>
			</div>
		</div>

		<div class="clear"></div>

	</div>
</div>
